.text,
p {
	font-weight: $fw-light;

	strong {
		font-weight: $fw-bold;
	}
}
@keyframes arrowFloat {
	0% {
		transform: translate(-50%, 0px);
	}

	100% {
		transform: translate(-50%, 8px);
	}
}

.header {
	.skew {
		top      : 45%;
		transform: translateY(-50%);

	}

	&__cta {
		position       : absolute;
		bottom         : 2*$vSpan;
		width          : 100%;
		display        : block;
		font-size      : $fs0;
		font-weight    : $fw-light;
		text-align     : center;
		text-decoration: none;

		&::before {
			content            : '';
			display            : block;
			position           : absolute;
			bottom             : -$vSpan;
			left               : 50%;
			background-image   : url('../img/arrow.svg');
			background-repeat  : no-repeat;
			background-position: center;
			background-size    : 250%;
			width              : 26px;
			height             : 18px;
			transform          : translateX(-50%);
			will-change        : transform;
			animation          : arrowFloat .7s alternate infinite ease-in-out;
		}
	}
}

.section {
	&--me {
		margin-top: 0;

		.text {
			margin-top: 2*$vSpan;
		}

	}

	&--job {
		margin-top: 10*$vSpan;

		&:before {
			height: 29*$vSpan;
		}

		&__left {
			margin-top: 3*$vSpan;

			.link {
				display    : block;
				margin-top : 2*$vSpan - 16px;
				font-size  : $fs0;
				font-weight: $fw-bold;
			}
		}

		&__right {
			padding-top: 2*$vSpan - 12px;
		}
	}
}

.tile {
	background-position: center;
	background-repeat  : no-repeat;

	&--billy .tile__top {
		background-color: #03A9F4;
	}

	&--centrallo .tile__top {
		background-color: #0BACE4;
	}

	&--pixel .tile__top {
		background-color: #F44336;
	}

	&--relic .tile__top {
		background-color: #F96877;
	}

	&--distracked .tile__top {
		background-color: #1A86E8;
	}

	&--cupcake .tile__top {
		background-color: #0A1A27;
	}

	&--sound .tile__top {
		background-color: #212121;
	}
}

.social {
	display        : flex;
	justify-content: space-between;
	margin-top     : 2*$vSpan;
	height         : 36px;

	&__el {
		width : 36px;
		height: 100%;

		.link {
			display        : block;
			width          : 36px;
			height         : 36px;
			background     : url('../img/social-sprite.svg') no-repeat;
			background-size: 500%;

			&--instagram {
				background-position: -36px 0;
			}

			&--pinterest {
				background-position: -72px 0;
			}

			&--codepen {
				background-position: -108px 0;
			}
      &--gitlab {
        background-position: -144px 0;
      }
		}
	}
}

.footer {
	margin-top: 5*$vSpan;
}
@mixin layout--m--low() {
	.header {
		.skew {
			top      : 3*$vSpan;
			transform: none;
		}
	}
}
@mixin layout--t() {
	.header {
		&__cta {
			font-size: $fs1;
			bottom   : 3.5*$vSpan;

			&::before {
				bottom: -1.5*$vSpan;
			}
		}
	}

	.section {
		&--me {
			margin-top: 6*$vSpan;

			.text {
				margin-bottom: 2*$vSpan;

				&:nth-child(odd) {
					margin-left: $col2 + $gutterWidth;
				}
			}
		}

		&--job {
			&__left {
				width: $col6;

				.link {
					display  : block;
					font-size: $fs1;
				}
			}

			&__right {
				float: right;
				width: $col4;
			}
		}
	}

	.footer {
		text-align: right;
	}
}
@mixin layout--l() {
	.header {
		.skew {
			top: 45%;
		}
	}

	.section {
		&--me {
			position: relative;
			width   : $maxWidth;

			.text {
				margin-bottom: 2*$vSpan;
				margin-left  : 0;

				&:nth-child(odd) {
					margin-left: 0;
				}
			}
		}

		&--job {
			&__left {
				width: $col6;
				float: left;
			}

			&__right {
				width      : $col4;
				padding-top: 3*$vSpan;
			}
		}
	}

	.tile--distracked {
		.tile__img {
			left: calc(50% + 50px);
		}
	}
}
@mixin layout--d() {
	.header {
		&__cta {
			position: absolute !important;

			&::before {
				transition: bottom .2s;
			}

			&:focus,
			&:hover {
				&::before {
					bottom: -2.5*$vSpan;
				}
			}
		}
	}

	.section {
		&--me {
			.text {
				margin-bottom: 2*$vSpan;
			}
		}

		&--job {
			&__left {
				width: $col6;

				.link {
					display: inline-block;
				}
			}

			&__right {
				width: $col4;
			}
		}
	}
}
