body {
	font-size              : $fsMob;
	font-family            : $ff-lato;
	line-height            : $lh;
	color                  : $white;
	overflow-x             : hidden;
	-webkit-font-smoothing : subpixel-antialiased;
	-webkit-font-smoothing : antialiased;
	-moz-font-smoothing    : grayscale;
	-moz-osx-font-smoothing: grayscale;
	-o-font-smoothing      : antialiased;
}
@mixin body--t {
	body {
		font-size: $fs0;
	}
}
