.button {
	display        : block;
	padding        : 8px 10px;
	border         : 1px solid $black;
	border-radius  : 3px;
	line-height    : $vSpan;
	color          : $black;
	text-align     : center;
	font-size: $fs-1;
	text-decoration: none;
	transition     : opacity .3s ease-out .3s, color .2s, background .2s;
	box-sizing     : border-box;

	&:focus {
		background: $black;
		color     : $translucent-white;
	}

	&__aside {
		display: none;
	}

	&--project {
		width       : 100px;
		border-color: $white;
		color       : $white;

		&:focus {
			background: $white;
			color     : $translucent-black;
		}
	}
}
@mixin button--t() {
	.button {
		line-height: $lh;
		width      : $col2;
		font-size: $fs0;
		font-weight: $fw-light;
	}
}
@mixin button--l() {
	.button {
		padding: 5px 10px;
		width  : $col2;

		&:hover,
		&:focus {
			background: $black;
			color     : $translucent-white;
		}

		&--project:hover,
		&--project:focus {
			background: $white;
			color     : $black;
		}
	}
}
@mixin button--d() {}
