.footer {
	width     : $colWidth;
	margin    : 5*$vSpan auto $vSpan;
	text-align: center;
	font-size: $fs-1;
	font-weight: $fw-light;

	&__el {
		display: inline;

		&:after {
			content: '|';
			padding: 0 3px 0 4px;
		}

		&:last-child:after {
			display: none;
		}
	}
	&--absolute {
		position: absolute;
		bottom: $vSpan;
		width: 100%;
		margin: 0;
	}
}
@mixin footer--t() {
	.footer {
		width: $maxWidth;
		font-size: $fs0;

		&__el {
			&:after {
				padding: 0 3px 0 4px;
			}
		}
		&--absolute {
			width: 100%;
		}
	}
}
@mixin footer--l() {
	.footer {
		width: $maxWidth;
		&--absolute {
			width: 100%;
		}
	}
}
@mixin footer--d() {
	.footer {
		width: $maxWidth;
		&--absolute {
			width: 100%;
		}
	}
}
