.header {
	width: 100vw;

	&__logo {
		display: block;
		margin: 0 auto;
	}

	&__title {
		font       : $fw-bold $fs3 $ff-ubuntu;
		margin-top : 2*$vSpan;
		line-height: 2*$lh;
		text-align : center;
	}

	&__subtitle {
		margin     : 2*$vSpan auto 0;
		font-size  : $fs1;
		font-weight: $fw-light;
		text-align : center;
		width      : 160px;
	}

	.container {
		margin: 0 auto;
		width : $colWidth;
	}

	&--full {
		height: 100vh;

		.header {
			&__logo {
				height: 5*$vSpan;
			}
		}
	}

	&--redux {
		margin-top: 4*$vSpan;
		.header__logo {
			position: absolute;
			top: $vSpan;
			right: $gutterWidth;
			height : 1.5*$vSpan;
		}
		.header__back {
			position: absolute;
			top: $vSpan;
			left: $gutterWidth;
		}
		.header__title {
			margin-top: 0;
		}
	}
}
@mixin header--t() {
	.header {
		&__logo {
			height: 8*$vSpan;
		}

		&__title {
			font-size : $fs4;
			text-align: center;
		}

		&__subtitle {
			width      : 320px;
			margin-top : 6*$vSpan;
			font-size  : $fs3;
			line-height: 2*$lh;
		}

		.container {
			width: $maxWidth;
		}
	}
}
@mixin header--l() {
	.header {
		&__logo {
			float      : left;
			margin-left: $col3;
			padding-top: $vSpan;
			width      : $col3;

		}

		&__title {
			float      : left;
			margin-left: $gutterWidth;
			margin-top : 0;
			width      : $col4;
			line-height: 1.6*3*$vSpan;
			text-align : left;
		}

		&__subtitle {
			clear      : both;
			padding-top: 2*$vSpan;
			width      : 100%;
		}

		.container {
			width: $maxWidth;
		}

		&--full {
			.header__logo {
				height: 8*$vSpan;
				margin-top: 0;
			}
		}

		&--redux {
			.header__logo {
				width: auto;
			}
			.header__title {
				float: none;
				width: 100%;
				margin: 0;
				text-align: center;
			}
		}
	}
}
@mixin header--d() {
	.header {
		&__logo {
			margin-left: $col3 + $gutterWidth;
		}

		&__title {
			width: $col4;
		}
		&--redux {
			.header__logo {
				width: auto;
			}
			.header__title {
				width: 100%;
			}
		}
	}
}
