.link {
	color          : $white;
	text-decoration: underline;
}

.link__under {
	display: none;
}

.link--slide-down {}
@mixin link--t() {}
@mixin link--l() {}
@mixin link--d() {
	.link {
		position       : relative;
		text-decoration: none;

		&::after {
			content   : '';
			position  : absolute;
			left      : 0;
			bottom    : -0.25*$vSpan;
			width     : 0;
			height    : 1px;
			background: $white;
			transition: width .2s;
		}

		&:focus::after,
		&:hover::after {
			width: 100%;
		}

		&__under {
			height     : $vSpan;
			display    : block;
			position   : absolute;
			left       : 0;
			bottom     : -1.25*$vSpan;
			font-size  : $fs-1;
			font-weight: $fw-regular;
			opacity    : 0;
			transform  : translateX(-10px);
			transition : transform .2s, opacity .2s;
		}

		&:focus &__under,
		&:hover &__under {
			transform: translateX(0px);
			opacity  : 1;
		}

		&--slide-down {
			&::after {
				display: none;
			}

			.link__under {
				left      : 50%;
				bottom    : 0;
				transform : translate(-50%, 0);
				transition: opacity .2s, transform .2s;
			}

			&:focus .link__under,
			&:hover .link__under {
				transform: translate(-50%, $vSpan);
			}
		}

		&--text {
			font-weight: $fw-bold;
		}
	}
}
