.header__logo {
	// width : 100%;
	// height: 100%;
	#logo-path {
		width            : 100%;
		fill             : none;
		stroke           : $white;
		stroke-linecap   : square;
		stroke-miterlimit: 10;
		stroke-width     : 45px;
		clip-path        : url('#logo-clip');
		stroke-dasharray : 1950;
		stroke-dashoffset: 1000;

	}

	&--anim {
		#logo-path {
			stroke-dasharray: 1000;
			animation: logoAppear 2s forwards cubic-bezier(0.19, 1, 0.22, 1) .5s;
		}
	}
}
@keyframes logoAppear {
	0% {
		stroke-dasharray: 1000;
	}

	100% {
		stroke-dasharray: 1950;
	}
}
