@keyframes fire {
   0% {
      transform: translateY(0%) rotate(160deg);
   }
   25% {
      transform: translateY(100%) rotate(110deg);
      opacity:1;
   }
   50%{
      transform: translateY(200%) rotate(160deg);
   }
   75% {
      transform: translateY(400%) rotate(110deg);
      opacity:1;
   }
   100% {
      transform: translateY(800%) rotate(160deg);
      opacity:0;
   }
}

@keyframes rocketFloat {
	0% {
		transform: translateY(-50%);
	}
	100% {
		transform: translateY(-40%);
	}
}

.rocket {
	display: none;
}
@mixin rocket--l() {
	.rocket {
		display          : block;
		position         : absolute;
		top              : 50%;
		right            : 0;
		width            : $col4;
		height           : 390px;
		background-image : url('../img/rocket.svg');
		background-size  : contain;
		background-repeat: no-repeat;
		transform        : translateY(-50%);
		will-change      : transform;
		animation        : rocketFloat 1.5s alternate infinite ease-in-out;
	}

	.particleEmitter {
		position : absolute;
		bottom   : 5px;
		left     : 50%;
		transform: translateX(-50%);
		width    : 70px;
	}

	.particle {
		position               : absolute;
		background-color       : rgba(255,193,7,0.5);
		border-radius          : 40px;
		border-top-right-radius: 0;
		animation              : fire .8s linear infinite;
		transform              : rotate(-45deg);
		opacity                : 0;
		will-change: opacity, transform;

		&:before {
			position               : absolute;
			content                : '';
			top                    : 60%;
			left                   : 40%;
			transform              : translate(-50%,-50%);
			width                  : 50%;
			height                 : 50%;
			border-radius          : 40px;
			border-top-right-radius: 0;
			background-color       : rgba(251,140,0,0.5);
		}
	}
}
@mixin rocket--d() {
	.rocket {
		right: $col1 + $gutterWidth;
	}
}
