.section {
	width     : 100%;
	margin-top: 4*$vSpan;

	&__title {
		font   : $fw-bold $fs2 $ff-ubuntu;
		display: block;
		width  : $colWidth;
		margin : 0 auto;
	}

	.text {
		margin-top: $vSpan;
		font-weight: $fw-light;
	}

	&--narrow {
		width       : $colWidth;
		margin-left : auto;
		margin-right: auto;

		.section__title {
			width: 100%;
		}
	}
}
@mixin section--t {
	.section {
		margin-top: 6*$vSpan;

		&__title {
			font-size: $fs3;
			width    : $maxWidth;
		}

		&--narrow {
			width: $maxWidth;
		}
	}
}
@mixin section--l {
	.section {
		&__title {
			width: $maxWidth;
		}

		.text {
			width: $col6;
		}

		&--narrow {
			width: $maxWidth;
		}
	}
}
@mixin section--d {
	.section {
		&__title {
			width: $maxWidth;
		}

		.text {
			width: $col6;
		}

		&--narrow {
			width: $maxWidth;
		}
	}
}
