.skew {
	position: relative;

	&::before {
		content      : '';
		display      : block;
		position     : absolute;
		top          : -5*$vSpan;
		border-top   : 2*$vSpan solid transparent;
		border-bottom: 2*$vSpan solid transparent;
		width        : 0;
		height       : calc(100% + #{6*$vSpan});
		z-index      : -100;
	}

	&--lr::before {
		left        : 0;
		border-right: 100vw solid $translucent-gray;
	}

	&--rl::before {
		right      : 0;
		border-left: 100vw solid $translucent-gray;
	}

	.container {
		margin: 0 auto;
		width : $colWidth;
	}
}
@mixin skew--m--low() {
	.header {
		.skew {
			&::before {
				top       : -3*$vSpan;
				border-top: none;
				height    : calc(100% + #{6*$vSpan});
			}
		}
	}

}
@mixin skew--t() {
	.skew {
		.container {
			width: $maxWidth;
		}
	}
}
@mixin skew--l() {
	.skew {
		.container {
			width: $maxWidth;
		}
	}
}
@mixin skew--d() {
	.skew {
		.container {
			width: $maxWidth;
		}
	}
}
