.tile {
	position  : relative;
	color     : $white;
	transition: all .2s ease-out;

	&__container {
		padding-top: 2*$vSpan;
	}

	&__top {
		position: relative;
		width   : 100%;
		height  : 4*$vSpan;
	}

	&__img {
		position: absolute;
		top     : 0;
		left    : 0;
		height  : 4*$vSpan;
	}

	&__title {
		font-family: $ff-ubuntu;
		font-weight: $fw-black;
		font-size  : $fs0;
		margin-left: 4*$vSpan;
		padding-top: 1.3*$vSpan;
	}

	&__arrow {
		position  : absolute;
		top       : 0;
		right     : 0;
		width     : 4*$vSpan;
		height    : 4*$vSpan;
		border    : none;
		background: url('../img/arrow.svg');
		transition: all .2s ease-out .1s;
	}

	&__expand {
		box-sizing     : border-box;
		padding        : 0 $gutterWidth;
		width          : 100%;
		position       : relative;
		max-height     : 0;
		overflow-y     : hidden;
		background     : $translucent-black;
		transition     : max-height .3s ease-out;
		display        : flex;
		flex-wrap      : wrap;
		justify-content: space-between;
		align-content: space-between;
		align-items: flex-end;
	}

	&__descr {
		padding-top: 2*$vSpan;
		width      : 100%;
	}

	&__details {
		margin-top   : $vSpan;
		margin-bottom: 2*$vSpan;
		width        : calc(100% - 100px - #{$gutterWidth});
	}

	&__button {
		align-self   : flex-end;
		margin-top   : $vSpan;
		margin-bottom: 2*$vSpan;
	}

	&--open {
		.tile__arrow {
			transform : rotate(-180deg);
			transition: all .2s ease-out;
		}

		.tile__expand {
			max-height: 350px;
		}
	}
}
@mixin tile--t() {
	.tile {
		&__title {
			font-size  : $fs1;
			padding-top: 1.2*$vSpan;
		}

		&__expand {
			padding: 0 calc((100% - #{$maxWidth})/2);
			align-items: flex-start;
		}

		&__descr {
			width: $col5;
		}

		&__details {
			width        : calc(#{$col3} - #{2*$gutterWidth});
			margin-top   : 2*$vSpan;
			margin-bottom: 0;
		}

		&__button {
			margin-top  : 2*$vSpan;
			margin-right: $col6;
		}
	}
}
@mixin tile--l() {
	.tile {
		margin-bottom: 2*$vSpan;
		height       : 16*$vSpan;
		overflow     : hidden;

		&__container {
			width          : $maxWidth;
			margin         : 0 auto;
			display        : flex;
			justify-content: space-between;
			flex-wrap      : wrap;
		}

		&:nth-child(1),
		&:nth-child(4),
		&:nth-child(5) {
			width: $col6;

			.tile__details {
				width: $col3 + $gutterWidth;
			}
		}

		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(6),
		&:nth-child(7) {
			width: $col5;

			.tile__details {
				width: $col2 + 2*$gutterWidth;
			}
		}

		&:nth-child(1),
		&:nth-child(5) {
			margin-left: $col1 + $gutterWidth;
		}

		&:nth-child(4) {
			margin-right: $col1 + $gutterWidth;
		}

		&__top {
			height: 100%;
		}

		&__img {
			height   : 14*$vSpan;
			left     : 50%;
			top      : auto;
			bottom   : 0;
			transform: translateX(-50%);
		}

		&__title {
			width     : 100%;
			text-align: center;
			margin    : 0;
		}

		&__arrow {
			display: none;
		}

		&__descr {
			width  : 100%;
			padding: $vSpan $vSpan 0;
		}

		&__details {
			// margin-top   : $vSpan;
			margin-left  : $vSpan;
			margin-bottom: 1.5*$vSpan;
		}

		&__button {
			margin: 0 $vSpan 1.5*$vSpan;
		}

		&__expand {
			height    : 100%;
			max-height: none;
			position  : absolute;
			top       : 0;
			left      : 0;
			background: $translucent-dark-black;
			transform : translateX(-300%);
			overflow  : visible;
			transition: transform .3s ease-out;

			.tile__descr,
			.tile__details,
			.tile__button {
				opacity   : 0;
				transition: opacity .3s ease-out;
			}

			&::before {
				content         : '';
				display         : block;
				position        : absolute;
				top             : 0;
				left            : 100%;
				border-right    : 16*$vSpan solid transparent;
				width           : 0;
				height          : 100%;
				background      : $translucent-black;
				transform       : skew(0,-45deg);
				transform-origin: top left;
			}

			&::after {
				content         : '';
				display         : block;
				position        : absolute;
				top             : 0;
				left            : 100%;
				border-right    : 150px solid $white;
				width           : 0;
				height          : 100%;
				background      : white;
				transform       : skew(-45deg,0);
				transform-origin: bottom left;
			}
		}

		&--hovered,
		&:hover,
		&:focus {
			.tile__expand {
				transform: translateX(0);

				.tile__descr,
				.tile__details,
				.tile__button {
					opacity: 1;
					transition: opacity .3s ease-out .3s;
				}
			}
		}
	}
}
@mixin tile--d() {
	.tile {
		&__container {
			width : $maxWidth;
			margin: 0 auto;
		}

		&:nth-child(1),
		&:nth-child(4),
		&:nth-child(5) {
			width: $col6;

			.tile__details {
				width: $col3 + $gutterWidth;
			}
		}

		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(6),
		&:nth-child(7) {
			width: $col5;

			.tile__details {
				width: $col2 + 2*$gutterWidth;
			}
		}

		&:nth-child(1),
		&:nth-child(5) {
			margin-left: $col1 + $gutterWidth;
		}

		&:nth-child(4) {
			margin-right: $col1 + $gutterWidth;
		}
	}
}
