// device sizes
// indicated size is minimum size of the device
$tablet: 605px;
$laptop: 1000px;
$desktop: 1285px;

// colors
$black: #111111;
$white: #FBFBFB;
$translucent-white: rgba(255,255,255,.9);
$translucent-gray: rgba(158,158,158,.4);
$translucent-black: rgba(0,0,0,.5);
$translucent-dark-black: rgba(0,0,0,.9);

// font sizes
$fs-2: 9px;
$fs-1: 13px;
$fs0: 18px;
$fs1: 26px;
$fs2: 36px;
$fs3: 52px;
$fs4: 73px;
$fs5: 104px;
$fsMob: 16px;

// font-family
$ff-ubuntu: 'Ubuntu', sans-serif;
$ff-lato: 'Lato', sans-serif;

//font-weights
$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;

// layout

//mobile
$vSpan: 18px;
$lh: $vSpan*1.6;
$colWidth: 276px;
$gutterWidth: 22px;
$maxWidth: 320px;

@mixin vars--t() {
	$lh: $vSpan*1.8 !global;
	$lineHeight : 32px !global;
	$colWidth   : 56px !global;
	$gutterWidth: 22px !global;

	//columns
	$col1       : $colWidth * 1 !global;
	$col2       : $colWidth * 2 + $gutterWidth * 1 !global;
	$col3       : $colWidth * 3 + $gutterWidth * 2 !global;
	$col4       : $colWidth * 4 + $gutterWidth * 3 !global;
	$col5       : $colWidth * 5 + $gutterWidth * 4 !global;
	$col6       : $colWidth * 6 + $gutterWidth * 5 !global;
	$col7       : $colWidth * 7 + $gutterWidth * 6 !global;
	$col8       : $colWidth * 8 + $gutterWidth * 7 !global;
	$maxWidth: $col8 !global;
}

@mixin vars--l(){
	$lineHeight : 32px !global;
	// $lineHeight : 28px !global;
	$colWidth   : 54px !global;
	$gutterWidth: 32px !global;

	//columns
	$col1       : $colWidth * 1 !global;
	$col2       : $colWidth * 2 + $gutterWidth * 1 !global;
	$col3       : $colWidth * 3 + $gutterWidth * 2 !global;
	$col4       : $colWidth * 4 + $gutterWidth * 3 !global;
	$col5       : $colWidth * 5 + $gutterWidth * 4 !global;
	$col6       : $colWidth * 6 + $gutterWidth * 5 !global;
	$col7       : $colWidth * 7 + $gutterWidth * 6 !global;
	$col8       : $colWidth * 8 + $gutterWidth * 7 !global;
	$col9       : $colWidth * 9 + $gutterWidth * 8 !global;
	$col10      : $colWidth * 10 + $gutterWidth * 9 !global;
	$col11      : $colWidth * 11 + $gutterWidth * 10 !global;
	$col12      : $colWidth * 12 + $gutterWidth * 11 !global;
	$maxWidth: $col12 !global;

}

@mixin vars--d(){
	$lineHeight : 32px !global;
	$colWidth   : 67px !global;
	$gutterWidth: 36px !global;

	//columns
	$col1       : $colWidth * 1 !global;
	$col2       : $colWidth * 2 + $gutterWidth * 1 !global;
	$col3       : $colWidth * 3 + $gutterWidth * 2 !global;
	$col4       : $colWidth * 4 + $gutterWidth * 3 !global;
	$col5       : $colWidth * 5 + $gutterWidth * 4 !global;
	$col6       : $colWidth * 6 + $gutterWidth * 5 !global;
	$col7       : $colWidth * 7 + $gutterWidth * 6 !global;
	$col8       : $colWidth * 8 + $gutterWidth * 7 !global;
	$col9       : $colWidth * 9 + $gutterWidth * 8 !global;
	$col10      : $colWidth * 10 + $gutterWidth * 9 !global;
	$col11      : $colWidth * 11 + $gutterWidth * 10 !global;
	$col12      : $colWidth * 12 + $gutterWidth * 11 !global;
	$maxWidth: $col12 !global;
}
