.section {
	margin-top: 2*$vSpan;
}
@mixin layout--t {}
@mixin layout--l {
	.section {
		.text {
			margin-left: $col3 + $gutterWidth;
		}
	}

}
@mixin layout--d {
	.section {
		.text {
			margin-left: $col3 + $gutterWidth;
		}
	}
}
